.hero {
  display: flex;
  align-items: center;

  width: 100%;

  background-image: url("../../../../../shared/assets/images/bgHero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  aspect-ratio: 3 / 1;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.hero .contentWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  height: 50%;
  width: 100%;

  padding: 0 10rem;

  color: #fff;

  z-index: 2;
}

.hero h3 {
  font-size: clamp(1.5rem, calc(-2.33rem + 8.89vw), 4rem);
  font-weight: normal;

  /* margin-bottom: 1rem; */
}

.hero p {
  font-size: clamp(1.1rem, 1.2vw, 1.7rem);
  /* margin-bottom: 2rem; */
}

.hero button {
  height: 3rem;
  width: 13rem;

  background-color: #f9ec60;

  border: none;
  outline: none;

  font-size: 0.9rem;
  font-weight: 600;

  text-transform: uppercase;

  transition: 0.3s;
}

.hero button:hover {
  background-color: #8065f7;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 1920px) {
  .hero .contentWrapper {
    padding: 0 20rem;
  }

  .hero button {
    height: 4rem;
    width: 14rem;

    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .hero .contentWrapper {
    padding: 0 3rem;
  }
}

@media (max-width: 1000px) {
  .hero h3 {
    margin-top: 1rem;
  }
  .hero p {
    display: none;
  }

  .hero .contentWrapper {
    align-items: center;
  }
}

@media (max-width: 700px) {
  .hero .contentWrapper {
    height: 70%;
    justify-content: end;
    gap: 1rem;
    padding: 0 1rem;
  }
  .hero {
    align-items: end;
    padding-bottom: 2rem;
  }
  .hero button {
    height: 2rem;
    width: 11rem;
  }
}

@media (max-width: 550px) {
  .hero {
    padding-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  .hero {
    padding-bottom: 1rem;
  }
  .hero h3 {
    display: none;
  }
}

@media (max-width: 380px) {
  .hero button {
    height: 1.5rem;
    width: 8rem;

    font-size: 0.8rem;
  }
}
