.slider {
  position: relative;
}

.swiperContainer {
  position: relative;
  padding-bottom: 40px; /* Отступ для пагинации */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.9);

  z-index: 1000;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  padding: 0;

  border-radius: 10px;

  max-width: 90%;
  max-height: 90%;

  overflow: auto;
}

.modalImage {
  max-width: 90vw;
  max-height: 90vh;

  width: auto;
  height: auto;

  object-fit: contain;

  border-radius: 10px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
