.slider {
  position: relative;

  width: 100%;

  margin: 0 auto;

  overflow: hidden;
}

.Container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* .certificateBlock {
  flex: 0 0 25%;

  padding: 10px;

  box-sizing: border-box;

  cursor: pointer;
}

.certificateImage {
  width: 100%;
  height: auto;

  display: block;

  border: none;
} */

.pagination {
  display: flex;
  justify-content: center;

  margin-top: 1.25rem;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;

  margin: 0 0.25rem;

  background-color: #bbb;

  border-radius: 50%;

  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

/* Стили для модального окна */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.9);

  z-index: 1000;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  padding: 0;

  border-radius: 10px;

  max-width: 90%;
  max-height: 90%;

  overflow: auto;
}

.modalImage {
  max-width: 90vw;
  max-height: 90vh;

  width: auto;
  height: auto;

  object-fit: contain;

  border-radius: 10px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.blockClient {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 20%;

  padding: 10px;

  box-sizing: border-box;

  cursor: pointer;
}

.clientImage {
  display: block;

  width: auto;
  height: auto;

  border: none;

  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.clientImage:hover {
  filter: grayscale(0%);
}

.dot {
  width: 0.5rem;
  height: 0.5rem;

  margin: 0 0.25rem;

  background-color: #282828;

  border-radius: 50%;

  cursor: pointer;
}

.dot.active {
  background-color: #8065f7;
}
