.ourAdvantages {
  padding: 4.5rem 10rem;

  width: 100%;

  background-color: #fff;

  color: #312c26;

  box-sizing: border-box;
}

.ourAdvantagesCards {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8rem;
}

.ourAdvantagesCards .card {
  display: flex;
  flex: 1;
  justify-content: center;

  max-width: 25rem;

  gap: 2rem;

  padding: 1rem;
}

.ourAdvantagesCards .advantagesIconBlock {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 4rem;
  height: 4rem;

  border-radius: 50%;

  overflow: hidden;

  border: 2px solid #b430dd;

  flex-shrink: 0;
}

.ourAdvantagesCards .advantagesTextBlock {
  display: flex;
  align-items: center;
  justify-content: center;

  /* margin-top: 1rem; */

  text-align: center;

  white-space: pre-line;

  font-size: 0.75rem;
  color: #312c26;
  text-transform: uppercase;
}

@media (min-width: 1920px) {
  .ourAdvantages {
    padding: 4.5rem 20rem;
  }

  .ourAdvantagesCards .advantagesTextBlock {
    font-size: 1.4rem;
  }

  .ourAdvantagesCards .advantagesIconBlock {
    width: 6rem;
    height: 6rem;
  }
}

@media (min-width: 1440px) {
  .ourAdvantagesCards .advantagesTextBlock {
    font-size: 1rem;
  }
}

@media (max-width: 1440px) {
  .ourAdvantagesCards {
    gap: 2rem;
  }

  .ourAdvantagesCards .card {
    gap: 1rem;
  }
}

@media (max-width: 1100px) {
  .ourAdvantagesCards {
    flex-direction: column;
  }

  .ourAdvantagesCards .card {
    justify-content: left;
    width: 16rem;
    text-align-last: left;
  }
}

@media (max-width: 1200px) {
  .ourAdvantages {
    padding: 4rem 3rem;
  }
}

@media (max-width: 700px) {
  .ourAdvantages {
    padding: 2rem 1rem;
  }
}
