.container {
  position: relative;

  width: 100%;
}

.scrollTop {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 6rem;
  right: 3rem;

  width: 4.5rem;
  height: 4.5rem;

  background: #8065f7;

  border: none;

  cursor: pointer;

  border-radius: 50%;

  z-index: 100;
}

.scrollTop svg {
  width: 3rem;
  height: 3rem;

  margin-bottom: 0.3rem;
}

.certificates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4.5rem 10rem;
  width: 100%;
  background-color: #f5f3f1;
  color: #312c26;
  box-sizing: border-box;
}

.certificatesTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.certificatesTitle h2 {
  font-size: clamp(1rem, 2vw, 3rem);
  font-weight: 700;
}

.certificateBlock {
  flex: 0 0 25%;

  padding: 10px;

  box-sizing: border-box;

  cursor: pointer;
}

.certificateImage {
  width: 100%;
  height: auto;

  display: block;

  border: none;
}

.ourClients {
  display: flex;
  flex-direction: column;
  padding: 4.5rem 10rem;

  width: 100%;

  background-color: #fff;

  color: #312c26;

  box-sizing: border-box;
}

.ourClientsTitle {
  margin-bottom: 3rem;
}

.ourClientsTitle h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3rem;

  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 700;
}

.ourClientsTitle h2::before {
  content: "";
  border-bottom: 1px solid #ebebeb;
  flex-grow: 1;
}

.ourClientsTitle h2::after {
  content: "";
  border-bottom: 1px solid #ebebeb;
  flex-grow: 1;
}

.blockClient {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 20%;

  padding: 10px;

  box-sizing: border-box;

  cursor: pointer;
}

.clientImage {
  display: block;

  width: auto;
  height: auto;

  border: none;

  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.clientImage:hover {
  filter: grayscale(0%);
}

